
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-primary" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="#">Translator</a></mdb-navbar-brand>
  
    <!-- Collapsible content -->
    <links>
  
      <!-- Links -->
      <!-- <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link waves-light" routerLink="/Translation" mdbWavesEffect>File Translation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" routerLink="/Translated" mdbWavesEffect>Voice Translation</a>
        </li> 
      </ul> -->
      <!-- Links -->
  
      <!-- Search form -->
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">
            <!-- <mdb-icon fas icon="user" mdbDropdownToggle></mdb-icon> -->
            <mdb-icon fas icon="sign-out-alt"></mdb-icon>
          </a>
        </li>
      </ul>
    </links>
    <!-- Collapsible content -->
  
  </mdb-navbar>
  <!--/.Navbar-->